body {
  background-color: #dcecf1 !important;
}

.wrapper {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,.16);
  justify-content: center;
  align-items: center;
  margin: 6rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 5rem 1rem;
  width: 100%;
  gap: 3em;
  text-align: center;
}

.dropdown-button {
  width:100%;
  box-sizing: border-box;
  display:block;
}

.btn-custom {
  background-color: #f2f2f2 !important;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.16);
  width:100%;
}

.custom-dropdown {
  max-height: 155px;
  overflow-y: scroll;
  overflow-x: hidden;
}